*{
    
    margin: 0px;
    padding: 0%;
    box-sizing:border-box ;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
i{
  font-size: 200px;
}
.caree-1, .caree-2, .caree-3, .caree-4, .caree-5, .caree-6, .caree-7, .caree-8, .caree-9, .caree-10 {
    height: 35%;
    width: 20%;
    position: absolute;

}
.caree-1 {
    left: 0%;
    top: 0%;
  }
  .caree-2 {
    left: 20%;
    top: 0%;
    border: black solid 1px;
    background-color: lightskyblue;
  }
  .caree-3 {
    top: 0%;
    left: 40%; 
    border: black solid 1px;
    background-color: lightskyblue;
  }
  .caree-4 {
    top: 0%;
    left: 60%;
  }
  .caree-5 {
    top: 0%;
    left: 80%;
  }
  .caree-10 {
    left: 0%;
    top: 35%; 
    border: black solid 1px;
    background-color:rgb(147, 84, 132);
  }
  .caree-7 {
    top: 35%; 
    left: 20%;
    border: black solid 1px;
    background-color: rgb(254, 52, 153);
  }
  .caree-8 {
    top: 35%; 
    left: 40%; 
    border: black solid 1.5px;
    background-color: rgb(254, 52, 153);
  }
  .caree-9 {
    top: 35%; 
    left: 60%;
    border: black solid 1.5px;
    background-color: rgb(147, 84, 132);
  }
  .caree-6 {
    top: 35%; 
    left: 80%;
    border: black solid 1.5px;
    background-color: gray;
  }
  .circle-1, .circle-2 {
    top: 65%;
    height: 20vw;
    width: 20vw;
    border: black solid 1.5px;
    border-radius: 100%;
    position: absolute;
  }
  .circle-1 {
    left: 10%;
    background-color: lightgreen;
  }
  .circle-2 {
    left: 70%;
    background-color: lightgreen;
  }

  @media(max-width:600px) {
    .caree-1 ,.caree-4 ,.caree-5{
        display: none;
    }
    .caree-2 ,.caree-3{
        width: 50%;
        
    }
    .caree-7,.caree-8{
        width: 50%;
    }
    .caree-9,.caree-10{
        width: 50%;
    }
    .caree-2{
        left: 0%;
    }
    .caree-3{
        left:50%
    }
    .caree-7{
        left: 0%;
    }
    .caree-8{
        left: 50%;
    }
    .caree-9{
        left: 0%;
        top: 70%;
    }
    .caree-10{
        left: 50%;
        top: 70%;
    }
    .circle-1{
        top:35%;
        width: 49%;
        height: 35%;
        left:1%

    }
    .circle-2{
        top:35%;
        width: 49%;
        height: 35%;
        left:51%

  }
  .caree-6{
    top:70%;
    width: 150px;
    height: 150px;
    left:34%;
    z-index:20;
    rotate: 45deg;
    display: flex;
  }
  

  }